{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Proj Finder</h1>
<h6>Say bye to the endless hours browsing Mountain Project.</h6>
<div class="section">
   <p>
   The <strong>Proj Finder</strong> helps you find your next climbing project.
   </p>
   <p>
   Your location is set using your IP address: {{ location.city }}, {{ location.country }}
   </p>
</div>

<!--TODO: make the form look nicer-->
<div class="section">
   <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit">Find Proj</button>
   </form>
</div>
<!--<p>Your location is set to  location.-->


<div class="section">
   <table class="u-full-width">
      <thead>
         <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Style</th>
            <th>Stars</th>
            <th>Pitches</th>
         </tr>
      </thead>
      <tbody>
{% for route in routes %}
         <tr>
            <td><a target="_blank" href="{{ route.url }}">{{ route.name  }}</a></td>
            <td>{{ route.grade }}</td>
            <td>{{ route.style }}</td>
            <td>{{ route.stars }}</td>
            <td>{{ route.pitches }}</td>
         </tr>
{% endfor %}
      </tbody>
   </table>
</div>


{% endblock %}
