{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section class="banner style1 orient-left content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
   <div class="content">
      <div>
         <h1>Proj Finder</h1>
         <h5>Say bye to the endless hours browsing Mountain Project.</h5>
         <p>The <strong>Proj Finder</strong> helps you find your next climbing project.</p>
         <p>Your location is set using your IP address to: {{ location.city }}, {{ location.country }}</p>
      </div>
      <div>
         <form action= "#routes" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Find Proj</button>
         </form>
      </div>
   </div>
<!--TODO: make the form look nicer-->
   <div class="image">
      <img src="{% static 'images/separatereality_mathias_jacob.jpg' %}" alt="" />
   </div>
</section>


<!--
<p>Your location is set to  location.-->


<section class="wrapper style1 align-center" id="routes">
   <table class="u-full-width">
      <thead>
         <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Style</th>
            <th>Stars</th>
            <th>Pitches</th>
         </tr>
      </thead>
      <tbody>
{% for route in routes %}
         <tr>
            <td><a target="_blank" href="{{ route.url }}">{{ route.name  }}</a></td>
            <td>{{ route.grade }}</td>
            <td>{{ route.style }}</td>
            <td>{{ route.stars }}</td>
            <td>{{ route.pitches }}</td>
         </tr>
{% endfor %}
      </tbody>
   </table>
</section>


{% endblock %}
